h1 Team: #{@team.name}

- if current_team && current_team.admin?
  section.admin-tool
    = link_to 'Edit', edit_team_path(@team)
  section.admin-tool
    h3 API keys
    ul
      - @team.api_keys.each do |key|
        li #{key.secret} (for round: #{key.round ? key.round.title : key.round_id})
