.rows
  .col-xs-6
    - if current_team
      h5 Your API Key
      pre
        code= session[:api_key]
    - else
      = link_to 'Login', login_path, class: 'btn btn-danger navbar-btn'

  .col-xs-6
    h5 Rounds
    .list-group
      - if current_team
        - rounds = (current_team.admin? ? Round.all : current_team.rounds)
      - else
        - rounds = Round.where(public: true)
      - rounds.each do |round|
        = link_to round_path(round), class: "list-group-item #{round.available? ? 'active' : ''}" do
          span.glyphicon.glyphicon-play
          == ' '
          = round.title
