= form_tag login_path, method: :post do
  .input-group.input-group-lg
    = text_field_tag :api_key, '', class: 'form-control', placeholder: 'your api key'
    span.input-group-btn
      = submit_tag 'Login', class: 'btn btn-default'
