= form_for @round do |f|
  - if @round.errors.any?
    #error_explanation
      h2 = "#{pluralize(@round.errors.count, "error")} prohibited this round from being saved:"
      ul
        - @round.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :public_description
    = f.text_area :public_description
  .field
    = f.label :starts_at
    = f.datetime_field :starts_at
  .field
    = f.label :ends_at
    = f.datetime_field :ends_at

  .field
    = f.check_box :public
    = f.label :public
  .field
    = f.check_box :require_report
    = f.label :require_report

  .actions = f.submit 'Save'
