.rows
  .col-xs-8.col-xs-offset-2
    h1.page-header.text-center AMI ID 情報の提出

    - if @report.errors.any?
      .alert.alert-danger
        - @report.errors.full_messages.each do |message|
          p= message

    - if @saved_report
      .alert.alert-info
        p AMI ID 情報を提出しました。

    - if @round.report_deadline_exceed?
      .alert.alert-danger
        - if @report.try(&:persisted?)
          p 提出期限を過ぎているので、提出済み情報の編集はできません。
        - else
          p 提出期限を過ぎているので、提出はできません。

    = form_tag edit_report_round_path(@round.id), { class: 'form-horizontal' } do
      - if @round.report_deadline_at
        .form-group
          label.control-label.col-xs-4 提出期限
          .col-xs-8
            p.form-control-static= l @round.report_deadline_at

      .form-group
        label.control-label.col-xs-4 チーム名
        .col-xs-8
          p.form-control-static= current_team.name
      .form-group
        label.control-label.col-xs-4 AMI ID
        .col-xs-8
          = text_field_tag :ami_id, @report.ami_id, class: 'form-control', pattern: '^ami-[0-9a-fA-F]+$', placeholder: 'ami-xxxxxxxx'
          span.help-text
            strong.text-danger この AMI ID は必ず AWS ID: 983977107217 に共有してください。
      .form-group
        label.control-label.col-xs-4 ベンチマーカーの起動オプション
        .col-xs-8
          = text_field_tag :benchmark_option, @report.benchmark_option, class: 'form-control', placeholder: '--workload N'
          span.help-text
            | API Key を含まない、最終スコア送信時の起動オプションを入力してください。
      .form-group
        label.control-label.col-xs-4 利用した言語
        .col-xs-8
          = text_field_tag :language, @report.language, class: 'form-control', placeholder: 'Ruby'
      .form-group
        label.control-label.col-xs-4 その他備考・メモ
        .col-xs-8
          = text_area_tag :note, @report.note, class: 'form-control', rows: 5

      - unless @round.report_deadline_exceed?
        .form-group
          .col-xs-8.col-xs-offset-2
            = submit_tag @report.new_record? ? '送信' : '修正', class: 'btn btn-block btn-lg btn-primary'
