h1 Listing rounds

table
  thead
    tr
      th Title
      th Description
      th
      th
      th

  tbody
    - @rounds.each do |round|
      tr
        td = round.title
        td = round.description
        td = link_to 'Show', round
        td = link_to 'Edit', edit_round_path(round)
        td = link_to 'Destroy', round, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Round', new_round_path
