doctype html
html(class="#{controller_path.gsub('/', '-')}-controller #{action_name}-action")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= content_for?(:title) ? yield(:title) : 'ISUCON4 Portal site'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  body
    .container-fluid
      .round-description(style="display: none;" data-endpoint=url_for(@round))

      - if (@round.starts_at <= Time.zone.now || current_team.try(&:admin?))
        #round-ended.panel.panel-default(data-show-on=@round.ends_at style="display:none;")
          .panel-heading #{@round.title} は終了しました
          .panel-body
            p お疲れさまでした!

        #score-graph
          .clearfix
            .btn-toolbar.pull-right
              .btn-group
                .btn.btn-default(v-class='active: topN == 5' v-on='click: setTopN(5)') Top 5
                .btn.btn-default(v-class='active: topN == 10' v-on='click: setTopN(10)') Top 10
                - if current_team.try(:admin?)
                  .btn.btn-default(v-class='active: topN == 100' v-on='click: setTopN(100)') ALL
              .btn-group
                .btn.btn-default(v-class='active: graphSpan == 1' v-on='click: setGraphSpan(1)') 1 min
                .btn.btn-default(v-class='active: graphSpan == 5' v-on='click: setGraphSpan(5)') 5 min
                .btn.btn-default(v-class='active: graphSpan == 10' v-on='click: setGraphSpan(10)') 10 min
              .btn-group
                .btn.btn-primary(v-on='click: reloadNow' v-class='active: loadingNow')
                  span.glyphicon.glyphicon-refresh(v-class='spin: loadingNow')
              - if current_team.try(:admin?)
                .btn-group
                  .btn.btn-default(v-on='click: fullscreenGraph')
                    span.glyphicon.glyphicon-fullscreen

          #score-chart(v-pre)

        table.table.table-striped#standings
          thead
            tr
              th.text-right #
              th Team
              th Score
              th.text-right At
          tbody
            tr.hide(v-class='hide: false' v-repeat="team : teams")
              td.ranking-cell
                span.label(v-class='label-success: $index < 5' v-text='$index+1')
              td.team-cell(v-text='team.name')
              td
                strong(v-text='team.score')
              td.text-right(v-text='team.at | relativeTime')
      - else
        .alert.alert-info
          p #{@round.title}の開始予定時刻は #{@round.starts_at.strftime('%Y-%m-%d %H:%M:%S')} を予定しています。
          p 開始までお待ち下さい。
