h1.page-header= @round.title

- if (@round.starts_at <= Time.zone.now || current_team.try(&:admin?))
  - if @round.require_report?
    #round-ended.modal.fade(data-show-on=@round.ends_at)
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal") &times;
            h4.modal-title #{@round.title}は終了しました。
          .modal-body
            p #{@round.title}は終了しました。AMI ID 等の最終情報を未提出の方は、必ず提出してください。
          .modal-footer
            = link_to edit_report_round_path(@round.id), class: 'btn btn-lg btn-primary' do
              == 'AMI ID 情報を提出 '
              span.glyphicon.glyphicon-chevron-right
  - else
    #round-ended.panel.panel-default(data-show-on=@round.ends_at style="display:none;")
      .panel-heading #{@round.title} は終了しました
      .panel-body
        p お疲れさまでした!

  section.round-description(data-endpoint=url_for(@round))
    - if current_team && (current_team.admin? || current_team.participate?(@round))
      = markdown @round.description
    = markdown @round.public_description

  h3 Score graph

  .text-muted
    p あなたのチームと、上位5チーム(もしくは10チーム)のスコアをグラフで表示しています。
    p あなたのチーム以外のグラフの更新は、終了1時間前に停止します。

  #score-graph
    .clearfix
      .btn-toolbar.pull-right
        .btn-group
          .btn.btn-default(v-class='active: topN == 5' v-on='click: setTopN(5)') Top 5
          .btn.btn-default(v-class='active: topN == 10' v-on='click: setTopN(10)') Top 10
          - if current_team.try(:admin?)
            .btn.btn-default(v-class='active: topN == 100' v-on='click: setTopN(100)') ALL
        .btn-group
          .btn.btn-default(v-class='active: graphSpan == 1' v-on='click: setGraphSpan(1)') 1 min
          .btn.btn-default(v-class='active: graphSpan == 5' v-on='click: setGraphSpan(5)') 5 min
          .btn.btn-default(v-class='active: graphSpan == 10' v-on='click: setGraphSpan(10)') 10 min
        .btn-group
          .btn.btn-primary(v-on='click: reloadNow' v-class='active: loadingNow')
            span.glyphicon.glyphicon-refresh(v-class='spin: loadingNow')
        - if current_team.try(:admin?)
          .btn-group
            .btn.btn-default(v-on='click: fullscreenGraph')
              span.glyphicon.glyphicon-fullscreen

    #score-chart(v-pre)


  h3 Standings

  p.text-muted
    | 順位の更新は、終了1時間前に停止します。

  table.table.table-striped
    thead
      tr
        th.text-right #
        th Team
        th Score
        th.text-right At
    tbody
      tr.hide(v-class='hide: false' v-repeat="team : teams")
        td.ranking-cell
          span.label(v-class='label-success: $index < 5' v-text='$index+1')
        td.team-cell(v-text='team.name')
        td
          strong(v-text='team.score')
        td.text-right(v-text='team.at | relativeTime')
- else
  .alert.alert-info
    p #{@round.title}の開始予定時刻は #{@round.starts_at.strftime('%Y-%m-%d %H:%M:%S')} を予定しています。
    p 開始までお待ち下さい。
