h1 Queue

#queue_status
  .row
    .col-md-2
      .btn.btn-primary(v-on='click: reloadNow' v-class='active: reloading')
        span.glyphicon.glyphicon-refresh(v-class='spin: reloading')
    .col-md-5
      span Retrieved at: {{retrievedAt}}
    .col-md-5
      span Last update: {{updatedAt | formatTime}} ({{updatedAt | relativeTime}})

  p

  .row
    .col-md-12
      .panel.panel-primary
        .panel-heading
          h2.panel-title Running
        table.table
          thead
            tr
              th Team
              th Started At
              th Queued At
          tbody
            tr(v-repeat="job : running")
              td= "{{job.team.name}}"
              td= "{{job.started_at | formatTime}} ({{job.started_at | relativeTime}})"
              td= "{{job.queued_at | formatTime}} ({{job.queued_at | relativeTime}})"

  .row
    .col-md-12
      .panel.panel-info
        .panel-heading
          h2.panel-title Pending
        table.table.table-striped
          thead
            tr
              th.text-right #
              th Team
              th Queued at
          tbody
            tr(v-repeat="job : pending")
              td.text-right= "{{$index+1}}"
              td= "{{job.team.name}}"
              td= "{{job.queued_at | formatTime}} ({{job.queued_at | relativeTime}})"


