@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.rounds-controller {
  .spin {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

  .submit-final-report {
    margin: 20px 0 0 0 ;
  }

  .ranking-cell {
    text-align: center;
    width: 2em;
  }

  .team-cell {
    width: 42em;
  }

  #score-graph {
    &.fullscreen {
      width: 100%;
      height: 100%;
      padding: 30px;

      #score-chart {
        max-height: 100%;
      }
    }
  }
}

.kiosk-action {
  #standings {
    font-size: 120%;
  }

  .team-cell {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
